body {
    background-color: darkslategray;
    margin: 0;
}

.header {
    display: flex;
    width: 100%;
    color:black;
    background-color: #a3c5ff;
	text-align: center;
	align-items: center;
	font-family: Geneva;

}

.gameGraphics {
    width: 60%;
    height: 720px;
    border: solid;
	position:relatives;
}

.roomImg {
	position: relative;
	
}

p {
	font-size: 20px;
	color: white;
}

.clickable {
	position: absolute;
}

.clickableHover:hover input {
	filter: brightness(120%);
}



.title {
	display:flex;
	margin:auto;
	justify-content:center;
	
}


.header span {
    display: flex;
}


.mainContent table {
    min-width: 100%;
    border: solid;
    text-align: center;
    border-collapse: collapse;
}




.keyDescriptions {
    width: 20%;
}

.objectives {
    width: 20%;
}

.inventory {
    align-content: center;
}

.inventory table {
	padding:0px;
	margin:0;
    width: 100%;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    height:150px;
    border-collapse: collapse;
    
}
.inventory table th{
	height:20px;
	border-left: solid;
    border-right: solid;
    border-bottom: solid;
	
}
.inventory table td{
	text-allign:center;
	border-left: solid;
    border-right: solid;
}

#title {
    width: fit-content;
    margin: 0;
	text-align:center;
	justify-content:center;
}

input[type="submit"] {
  background-color: #7a7a7a;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float:right;
}