body {
    background-color: darkslategray;
    margin: 0;
    padding:0;
}

.header {
    display: flex;
    width: 100%;
    color:black;
    background-color: #a3c5ff;
	text-align: center;
	align-items: center;
	font-family: Geneva;

}

.gameGraphics {
    width: 60%;
    height: 720px;
    border: solid;
	position:relative;
}

.roomImg {
	position: relative;
	
}

p {
	font-size: 20px;
	color: white;
}

.clickable {
	 position: absolute;
    z-index: 1;
}

.inv{
	height:100px;
	width:100px;
}

.clickableHover:hover img {
	filter: brightness(120%);
}

.clickableHover img{
    height:200px;
	width:200px;
}

.invButton {
	
	  appearance: none;
  background-color: inherit;
  border: none;
}

.clickableHover button {
	 position: absolute;
	 width:200px;
	 height:200px;
	 border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.title {
	display:flex;
	margin:auto;
	justify-content:center;
	
}


.header span {
    display: flex;
}


.mainContent table {
    min-width: 100%;
    border: solid;
    text-align: center;
    border-collapse: collapse;
}




.keyDescriptions {
    width: 20%;
    z-index:1;

}

.objectives {
    width: 20%;
}

.inventory {
    align-content: center;
}

.inventory table {
	padding:0px;
	margin:0;
    width: 100%;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    height:150px;
    border-collapse: collapse;
    
}
.inventory table th{
	height:20px;
	border-left: solid;
    border-right: solid;
    border-bottom: solid;
	
}
.inventory table td{
	text-allign:center;
	border-left: solid;
    border-right: solid;
}

#title {
    width: fit-content;
    margin: 0;
	text-align:center;
	justify-content:center;
}

input[type="submit"] {
  background-color: #7a7a7a;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin-right: 20px;
}
.button{
	height:50px;
	width:50px;
	font-size: 20px;
	border-radius: 50%;
	position: absolute;
 	cursor: pointer;
  	border-radius: 5px;
	
}
.right{
	transform: rotate(180deg);
	top: 50%;
  	right: 10%;
	}
.left{
	transform: rotate(0deg);
	top: 50%;
  	left: 10%;
}
.up{
	transform: rotate(90deg);
	top: 10%;
  	left: 50%;
}
.down{
	transform: rotate(270deg);
	bottom: 20%;
  	left: 50%;
}
