body {
    background-color:brown;
    margin: 0;
    padding:0;
}

.header {
    display: flex;
    color:black;
	text-align: center;
	align-items: center;
	font-family: Geneva;

}

.gameGraphics {
   width:100%;
    position: relative;
}

.roomImg {
	position: relative;
	width:55%;
}

p {
	font-size: 16px;
	color: white;
}

.clickable {
	 position: absolute;
    z-index: 1;
}

.inv{
	height:100px;
	width:100px;
}

.clickableHover:hover img {
	filter: brightness(120%);
}


.inventory {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    height:150px;
  }

  .inventory-header {
    font-size: 16px;
    margin-top: 0;
    background-color: #fff;
  }

.clickableHover button {
	
	 position: absolute;
	 width:auto;
	 border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  
}

.title {
	display:flex;
	margin:auto;
	justify-content:center;
	
}


.header span {
    display: flex;
}


.mainContent table {
    text-align: center;
    
}




.keyDescriptions {
    width: 20%;
    z-index:1;

}

.objectives {
    width: 20%;
}

  .inventory-table {
    border-collapse: separate;
    border-spacing: 10px;
    margin-top: 10px;
  }

  .inventory-slot {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .inv-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .inv-img {
    
    height: 40px;
  }

  .inv-name {
    margin-top: 5px;
    font-size: 16px;
  }
#title {
    width: fit-content;
    margin: 0;
	text-align:center;
	justify-content:center;
}

input[type="submit"] {
  background-color: #7a7a7a;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin-right: 10px;
}
.button{
	
	font-size: 20px;
	border-radius: 50%;
	position: absolute;
 	cursor: pointer;
  	border-radius: 5px;
	
}
.right{
	transform: rotate(180deg);
	top: 8%;
  	left: 90%;
	}
.left{
	transform: rotate(0deg);
	top: 8%;
  	left: 86%;
}
.up{
	transform: rotate(90deg);
	top: 2%;
  	left: 88%;
}
.down{
	transform: rotate(270deg);
	top: 14%;
  	left: 88%;
}